/* GENERAL */

body {
    margin: 0;
    padding: 0;
    /*  define a container element as a grid */
    display: grid;
    min-width: 100vw;
    min-height: 100vh;
    /* define the grid sizes */
    align-content: stretch;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    background-color: #201f1e;
    position: relative;
}

h2 {
    color: #fdc0c0;
}

/* HEADER */

header {
    grid-area: header;
    justify-content: center;

    background-color: rgb(255, 209, 235);
}

/* SIDE MENU */

#sideMenu {
    grid-area: nav;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: fit-content;
    color: #fdc0c0;
    background-color: #fe5959;
    padding: 0.4rem 0.8rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: ease all 0.5s;

}

#sideMenu ul li {
    position: relative;
    list-style-type: none;
    height: 2rem;
    margin: 1rem;
}

#sideMenu ul li a {
    color: #ffdede;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: medium;
}

#sideMenu ul li a:hover {
    background-color: #fdc0c0;
    color: #fe5959;
}

#sideMenuBtn {
    display: none;
}

#sideMenuLbl {
    margin: 0.5rem;
    color: #ffdede;
}

#sideMenu ul {
    opacity: 0;
    max-width: 0;
    transition: all .5s ease, width 10s ease 2s;
}

#sideMenuBtn:checked ~ ul {
    opacity: 1;
    max-width: 1000px;
    transition: all .5s ease, width 10s ease 4s;
}


/* MAIN */

main {
    color: #fe5959;
    grid-area: main;
    justify-self: center;
    align-self: center;

    /*background-color: red;*/
}

/* FOOTER */

footer {
    grid-area: footer;

    color: #fe5959;
    background-color: #fe9999;

    display: flex;
}

footer div {
    flex: 50%;
}
