body {
    margin: 0;
    padding: 0;
    /*  define a container element as a grid */
    display: grid;
    min-width: 100vw;
    min-height: 100vh;
    /* define the grid sizes */
    align-content: stretch;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    background-color: #201f1e;
}
header {
    grid-area: header;
    justify-content: center;

    background-color: rgb(255, 209, 235);
}

nav {
    grid-area: nav;
    justify-content: center;

    color: #fdc0c0;
    background-color: #fe5959;
}

nav ul {
    list-style: none;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: rgb(255,209,235);
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: #fe9999;
}

main {
    color: #fe5959;
    grid-area: main;
    justify-self: center;
    align-self: center;

    /*background-color: red;*/
}

footer {
    grid-area: footer;

    color: #fe5959;
    background-color: #fe9999;

    display: flex;
}

footer div {
    flex: 50%;
}

h2 {
    color: #fdc0c0;
}