{% extends "template.html" %}

<!--
    This page is to set the layout preferences.
    If the user already has preferences they will be loaded accordingly.
    if not the list will be shown empty.
-->

{% block title %}
    welcome
{% endblock %}

{% block customCSS %}
    <link href="../static/setLayoutStyles.css" rel="stylesheet">
{% endblock %}

{% block scripts %} 
    <script src="../static/js/setLayoutScript.js" async defer></script>
{% endblock %}

{% block header %}
    <!-- <img id="banner" src="../static/images/catBanner.png" alt="Cat-Banner" > -->
{% endblock %}

{% block main %}

    <h1>Set your preferred Layout</h1>

    <p>
        Please choose the widgets you would like to be displayed on your homepage. (It has to be at least one)<br/>
        Just drag and drop them into the previewbox below in any order you want.<br/>
        You can delete widgets by clicking the trash-icon on the left or change the order of them with the arrow keys.
    </p>

    <form action="/reset_layout" method="post">
        <button type="submit" aria-label="reset layout prefs button">reset</button>    
    </form>
    <form action="/save_basic_layout" method="post">
        <button type="submit" aria-label="save basic layout button">basic</button>    
    </form>
    <form action="/save_layout" method="post">
        <button type="submit" aria-label="save layout button">save</button>    
    </form>

    <!-- List of choosable widgets -->
    <h2>Options</h2>
    <div class="widgetContainer">
        {% for widget in WIDGETLIST %}
            <p class="draggableWidget" draggable="true">{{ widget }}</p>
        {% endfor %}
    </div>

    <!-- List of chosen widgets -->
    <h2>Homepage</h2>
    <div class="widgetContainer chosenWidgets">
        <!--
            <p class="draggableWidget" draggable="true">{{ widget }}</p>
            <p class="draggableWidget" draggable="true">test</p>
        -->
        
    </div>


{% endblock %}
