{% extends "template.html" %}

{% block title %}
    testpage
{% endblock %}

{% block customCSS %}
    <!-- <link href="../static/customStyles.css" rel="stylesheet"> -->
{% endblock %}

{% block header %}
    <img id="banner" src="../static/images/catBanner.png" alt="Cat-Banner" >
{% endblock %}

{% block main %}

    <h1>THIS IS THE ACTUAL TEST 1 PAGE</h1>
    <h2>{{ message }}</h2>

    {% if layout_prefs is defined and layout_prefs %}
        <div class="containers">
            {% for pref in layout_prefs %}
                <p>{{ pref.element_name }}</p>
            {% endfor %}
        </div>
    {% else %}
        <p>This is hidden secret text ^^</p>
    {% endif %}

    
    <h2>THIS IS THE CONTROL AREA</h2>
    this is a main block of test page


{% endblock %}

