{% extends "template.html" %}

{% block title %}
    testpage 2
{% endblock %}

{% block customCSS %}
    <!-- <link href="../static/customStyles.css" rel="stylesheet"> -->
{% endblock %}

{% block header %}
    <img id="banner" src="../static/images/catBanner.png" alt="Cat-Banner" >
{% endblock %}

{% block main %}

    <h1>This is the <u>SECOND</u> TESTpage</h1>

    <div id="widgetContainer"></div>

    <!--
    <script src="{{ url_for('static', filename='js/dynamicHomePage.js') }}"></script>
    <script>
        // layout_prefs from jinja somehow
        renderHomepage(layout_prefs);
    </script>
    -->

    {% for widget in layout_prefs %}
        <section class="{{ widget }}">
            <script>
                renderHomepage("{{ widget }}");
                // NOTE: renderHomepage(arg) needs to be implemented as soon as a user can log in
            </script>
        </section>
    {% endfor %}
    

{% endblock %}

{% block scripts %}
    
    <script src="../static/js/dynamicHomePage.js"></script>
    <script>
        
        // layout_prefs from jinja somehow
        renderHomepage();
        
    </script>

{% endblock %}