{% extends "template.html" %}

<!--
    This page is welcoming people who have just registered but don't have any layout_preferences yet.
    It asks the user to set their preferences
-->

{% block title %}
    welcome
{% endblock %}

{% block customCSS %}
    <!-- <link href="../static/customStyles.css" rel="stylesheet"> -->
{% endblock %}

{% block header %}
    <!-- <img id="banner" src="../static/images/catBanner.png" alt="Cat-Banner" > -->
{% endblock %}

{% block main %}

    <h1>Welcome!</h1>

    <p>
        Oh, you are new here.<br/>
        Let's customize your own personal mainpage.<br/>
        Our goal is to create a page where you can see the most important information at a glance.<br/>
        But what is the important information? That is up to you to choose.<br/>
        Don't worry this will not take long :)
    </p>

    <form action="/welcome" method="post">
        <button type="submit" aria-label="set layout button">Let's go!</button>    
    </form>


{% endblock %}
